.App{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/wallhaven-g82m1d_2560x1440.png");
    background-size: cover;
  
}